# Dependencies
node_modules/

# Next.js build output
.next/
out/

# TypeScript
*.tsbuildinfo

# Env files (secrets)
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Testing/coverage
coverage/

# Misc build caches
.turbo/
.vercel/
dist/
